.header {
    width: 100vw;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--lateral-space) 0 var(--lateral-space);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;

    .header__home {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: #0000FF;
        text-align: center;
        line-height: 24px;

        .header__home {
            border-radius: 50%;
            width: 24px;
            height: 24px;
            background-color: #0000FF;
            text-align: center;
            line-height: 24px;
        }
    }
    
    .burger-menu__input {
        display: none;
    }
}